<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h3>Final Year Project</h3>
        </div>
        <!--<img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">-->
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Role Selector</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/users/executive">Executive</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/users/manager">Floor Manager</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/users/operator">Operator</a>

    <mat-divider></mat-divider>

</mat-nav-list>